* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100%;
  width: 100%;
  color: rgb(6, 86, 86);
}
.box{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-box{
  height: 410px;
  width: 350px;
  background-color: rgb(74, 236, 122);
  border-radius: 16px;
}
.h1{
  margin-top: 2rem;
}
.email1{
 margin: 10px 33px;
}
.email{
  padding: 13px 23px;
  margin: 10px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(207, 201, 194);

}
.forget{
  margin-top: 0%;
  margin-left: 9.8em;
  cursor: pointer;
}
.forget:hover{
  opacity: 0.5;
}
.submit{
  padding: 11px 20px;
  margin-left: 8rem;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  background-color: rgb(128, 141, 125);
  color: rgb(27, 37, 13);

}
.submit:hover{
  opacity: 0.4;
}
.signin{
  padding: 11px 20px;
  margin-left: 8rem;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  background-color: rgb(128, 141, 125);
  color: rgb(27, 37, 13);
  margin-top: 20px;

}